footer {
    font-family: Lobster, display;
    font-size: 1.5rem;
    line-height: 1.5;
    text-align: center;
    padding: 50px 20%;
    margin-top: 50px;
    background-color: rgba(0,214,195,0.5);
  }