.section-2-2 {
  .grid-2 {
    display: grid;
    grid-template-columns: 1fr 2fr;

    div {
      margin: 50px 0;
      background-color: aliceblue;
    }
    p {
      margin: 10px;
    }
  }

  img {
    width: 100%;
  }

  div:nth-child(odd) {
    margin: 50px 0 0 7%;
  }

  div:nth-child(even) {
    margin: 50px 7% 0 20px;
  }

  @media (max-width: 991px) {
    .grid-2 {
      grid-template-columns: 1fr;
    }

    div:nth-child(odd),
    div:nth-child(even) {
      margin: 50px 7% 0;
    }

  }
}